{% extends 'demo_site/base.html' %}
{% block content %}
            <section class="login">
                <h1 class="headline">Extended Mind Web App Version 0.01</h1>
                <p>Extended Mind is a project that imagines the future of education in relation to machine learning. It proposes an intelligent learning partner, that learns and grows with you, helps you with your studies and extends your capabilities.</p>
                <p>For best experience in this demo, we recomend using a Chrome browser or at least something modern (not internet explorer).</p>

            {% if not user.is_authenticated %}
                <form method="POST" class="login-form" action='' enctype="multipart/form-data">
                    <p><strong>Please Login to continue.</strong></p>
                    {% csrf_token %}
                    <div>
                        {{ form }}
                    </div>
                    <button class="btn" type="submit">login</button>
                </form>

            {% else %}
                <p><strong>You are already logged in.</strong></p>
                <a href="{{ demo_url }}"><button class="btn" type="link">Enter</button></a>

            {% endif %}
            </section>
{% endblock %}