*, *:before, *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html { 
    -webkit-font-smoothing: antialiased;
    font-family: 'Work Sans', sans-serif;
    background-color: #FFCA28;
    color: #212121;
    -webkit-tap-highlight-color: #FFC107;
}

::-moz-selection { background: #FFC107; }
::selection { background: #FFC107; }

a { text-decoration: none; color: inherit; cursor: pointer;}

header {
    background-color: #FFCA28;
    z-index: 99;
    display: flex;
    position: fixed;
    height: 48px;
    width: 100%;
    padding: 0 24px;
    color: rgba(0,0,0,.5);
    justify-content: space-between;
    align-items: center;
}
header h2 {
    font-size: 16px;
    font-weight: 500;
}
.code-link {
    display: flex;
    opacity: .5;
}

main {
    display: flex;
    flex: 2;
    padding: 16px;
    align-items: center;
    justify-content: center;
}
footer {
    background-color: #FFCA28;
    line-height: 64px;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-transform: capitalize;
}
.scores {
    margin: auto;
    max-width: 300px;
    display: flex;
    justify-content: space-between;;
    opacity: .5;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    width: 736px;
    left:0;
    right: 0;
    max-width: 100%;
    position: fixed;
    height: 100vh;
    margin: auto;
    align-items: center;
}

/*
    Board and squares 
*/
.board {
    width: 300px;
    height: 300px;
    display: none;
    flex-direction: column;
    transition: opacity .5s;
    opacity: 0;
}
.row, .square { 
    border-color: rgba(0,0,0,0.26) !important;
    border-width: 6px !important;
    flex: 1;
    display: flex;
}
.row { border-bottom: solid; }
.square { 
    cursor: pointer; 
    border-right: solid; 
    align-items: center;
    justify-content: center;
}
.row:last-child, .square:last-child { border: none; }

/*
    Welcome Screen
*/
.welcome {
    text-align: center;
    max-width: 300px;
}

.welcome p {
    margin-bottom: 32px;
    opacity: 0.8;
    font-size: 16px;
    letter-spacing: .2px;
}

h1.game-title {
    font-size: 64px;
    letter-spacing: -.5px;
    margin-bottom: 24px;
}

button.entry-btn {
    background-color: #00C853;
    color: #fff;
    line-height: 64px;
    cursor: pointer;
    outline: none;
    border: none;
    border-top: 1px solid #00c853;
    border-bottom: 8px solid #4CAF50;
    font-size: 14px;
    text-transform: uppercase;
    transition: .3s ease-out;
    letter-spacing: 2px;
    padding: 0 24px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.24);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.24);
}

button.entry-btn:hover {
    transform: scale(1.01);
    -webkit-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.16);
}
button.entry-btn:active {
    background-color: #4CAF50;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.24);
    border-top: 6px solid #00E676;
    -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.24);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.24);
    border-bottom: 3px solid #4caf50;
}

/*
    Options (Pick Player)
*/
.options {
    text-align: center;
    font-size: 18px;
    display: none;
}
.choices {
    margin: 32px 0;
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 104px;
}
.option { cursor: pointer; }
.options h2 { opacity: .5; }

span.bot_thoughts_mode {
    font-size: 12px;
    padding: 16px;
    opacity: .3;
    font-family: 'Monaco', monospace;
    cursor: pointer;
}

span.bot_thoughts_mode:hover {
    opacity: .5;
}
/*
    results
*/
.result {
    text-align: center;
    display: none;
    flex-direction: column;
    max-width: 300px;
    transition: 0.3s;   
    opacity: 0;
}

.winning-player {
    display: flex;
    justify-content: space-around;
    padding: 24px;
}

.result h2 {
    font-size: 40px;
    text-transform: uppercase;
}

.winning-player svg {
    height: 120px;
    width: 120px;
}

button.reset {
    background: none;
    border: none;
    outline: none;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    letter-spacing: 2px;
    color: #4caf50;
    font-weight: 500;
}

/*
    SVG style and SVG animations
*/
circle.a, line.a { /*svg line and circle*/
    fill:none; 
    stroke:#212121; 
    stroke-miterlimit:10; 
    stroke-width:10px; 
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: draw .3s linear forwards;
    -webkit-animation: draw .3s linear forwards;
}
line.b { 
    -webkit-animation-delay: .1s; 
    animation-delay: .1s; 
}
@keyframes draw {
    from { stroke-dashoffset: 300; }
    to { stroke-dashoffset: 0; }
}
svg { transition: 0.3s; max-width: 100%; max-height: 100%; }
.square > svg { padding: 8px; height: 97.5%; width: 97.5%;}
.option > svg:hover { transform: scale(1.1);}

svg.abs { position: absolute; }
line.c.a {
    stroke-dasharray: 402.34;
    stroke-dashoffset: 402.34;
    animation: drawD .3s linear forwards;
}
@keyframes drawD {
    from { stroke-dashoffset: 402.34; }
    to { stroke-dashoffset: 0; }
}
/*
    bot thoughts side section
*/
.thought-info {
    flex: 0;
    display: none;
    opacity: 0;
    height: 300px;
    padding: 16px;
    transition: 0.3s;
}
span.close-thoughts {
    float: right;
    cursor: pointer;
    padding: 8px;
    margin: -16px 0 0 0;
}
/*.thought-info .inner {
}*/
.thought-info h3 {
    opacity: 0.8;
}
ul.thoughts {
    list-style: none;
    margin: 24px 0;
    opacity: 0.7;
    font-family: 'Monaco', monospace;
    font-size: 12px;
}
ul.thoughts li {
    margin-bottom: 10px;
}

.bad-connection {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999999;
    background-color: rgba(0,0,0,.7);
    justify-content: center;
    align-items: center;
    color: white;
    top:0;
    letter-spacing: 0;
    transition: 0.3s;
    opacity: 0;
    flex-direction: column;
}
.bad-connection h4 {
    font-size: 34px;
    font-weight: 500;
    padding-bottom: 24px;
}
.bad-connection .inner {
    max-width: 300px;
    text-align: center;
}

.bad-connection .inner a {
    display: block;
    padding: 8px 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFCA28;
    margin-bottom: 16px;
    font-weight: 600;
}

.active { display: flex; opacity: 1; }
.thought-info.active { flex: 1.8; opacity: 1; display: block; }


@media (max-width: 600px) {

    header, footer {
        padding: 0 16px;
        line-height: 48px;
    }
    footer {
        font-size: 14px;
    }
    main {
        display: initial; 
        flex: initial;
        padding: 0;
        align-items: initial;
        justify-content: initial; 
    }
    .wrapper {
        flex-direction: column;
        justify-content: center;
    }

    .thought-info.active {
        flex:initial;
        width:100%;
        height: auto;
    }
    ul.thoughts {
        height: 150px;
        margin: 12px 0;
        overflow-y: scroll;
    }
    .thought-info h3 {
        font-size: 14px;
    }
}

@media (max-height: 540px) {
    .board {
        width:250px;
        height: 250px;
        margin-top: 16px;
    }

    ul.thoughts {
        margin:8px 0;
        height: 80px;
        font-size: 10px;
    }
    ul.thoughts li {
        margin-bottom: 8px;
    }

}